# Bỏ qua toàn bộ thư mục cấu hình của Visual Studio
.vs/
*.user
*.suo
client_firebase/config.json
C:\Users\QuangLam0204\source\repos\client_firebase\client_firebase\bin\Debug\config.json
C:\Users\QuangLam0204\source\repos\client_firebase\client_firebase\config.json